body {
    margin: 0px;
    padding: 0px;
    background-color: #222222;
    font-family: 'Noto Sans', Tahoma, Geneva, Verdana, sans-serif;
    color: #f1f1f1
}

p {
    margin: 0; /* removes all top & bottom margins for <p> */
    /* margin-bottom: 0.5em; /* small spacing between lines */
}

a {
    color: #5b79ff
}

.header {
    position: sticky;
    top: 0;
    height: 50px;
    border-bottom: 1px solid #3f3f3f;
    background-color: #111111;
    /* border: 3px solid #ffffff; */
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: 50px; /* ensure the same height as in .header */
    margin: 0 auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
    /* border: 2px solid #ff00b3; */
}

.header-title {
    display: flex; /* maybe can remove? */
    font-size: 24px;
    color: #f1f1f1;
    text-decoration: none;
    /* border: 2px solid #ff0303; */
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 0.25em;
    /* border: 2px solid #00ff00; */
}

.header-button {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f1f1f1;
    text-decoration: none;
    font-size: 16px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out
    /* border: 1px solid #ff00b3; */
}

.header-button:hover {
    background-color: #4e4e4e;
    transition: background-color 0.2s ease-in-out
}

.hamburger {
    filter: invert(1);
    display: block;
    width: 32px;
    height: auto;
    /* border: 1px solid #ff0000; */
}

.page-content {
    /* this section is mostly temp for now */
    max-width: 1000px;
    margin: 0 auto;
}

.footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    padding-top: 1.0em;
    padding-bottom: 1.0em;
    border-top: 1px solid #3f3f3f;
    margin-top: 10px;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    gap: .5em;
}

.footer p {
    margin-bottom: 0em;
}