body {
    margin: 0px;
    padding: 0px;
    background-color: #222222;
    font-family: Arial, sans-serif;
    color: #f1f1f1
}

p {
    margin: 0; /* removes all top & bottom margins for <p> */
    margin-bottom: 0.5em; /*small spacing between lines */
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 0.5em;
    background-color: #676767;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}