body {
    margin: 0px;
    padding: 0px;
    background-color: #222222;
    font-family: Arial, sans-serif;
    color: #f1f1f1
}

p {
    margin: 0; /* removes all top & bottom margins for <p> */
    /* margin-bottom: 0.5em; /* small spacing between lines */
}

a {
    color: #5b79ff
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #3f3f3f;
    background-color: #111111;
    /* border: 3px solid #ffffff; */
}

.header-title {
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    color: #f1f1f1;
    text-decoration: none;
    /* border: 2px solid #ff0303; */
}

.header-buttons {
    display: flex;
    justify-content: flex-end;
    /* border: 2px solid #00ff00; */
}

.header-button {
    text-align: center;
    padding: 0.5em;
    color: #f1f1f1;
    text-decoration: none;
    font-size: 16px;
    width:5em;
    /* border: 1px solid #ff00b3; */
}

.header-button:hover {
    background-color: #181818;
}

.footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    padding-top: 1.0em;
    padding-bottom: 1.0em;
    border-top: 1px solid #3f3f3f;
    margin-top: 10px;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    gap: .5em;
}

.footer p {
    margin-bottom: 0em;
}