body {
    margin: 0px;
    padding: 0px;
    background-color: #222222;
    font-family: Arial, sans-serif;
    color: #f1f1f1
}

p {
    margin: 0; /* removes all top & bottom margins for <p> */
    /* margin-bottom: 0.5em; /* small spacing between lines */
}

a {
    color: #5b79ff
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    /* height: 64px; */
    /* padding-left: 10.0em; */
    /* padding-right: 10.0em; */
    border: 0px solid #ffffff;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #3f3f3f;
    background-color: #111111;
}

.header-button {
    text-align: center;
    padding: 1em;
    /* border: 3px solid #ff0000; */
    color: #f1f1f1;
    text-decoration: none;
    font-size: 20px;
    width:140px;
}

.header-button:hover {
    background-color: #181818;
}

.footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    padding-top: 1.0em;
    padding-bottom: 1.0em;
    border-top: 1px solid #3f3f3f;
    margin-top: 10px;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    gap: .5em;
}

.footer p {
    margin-bottom: 0em;
}